.slideshow {
  width: 100%;
  height: 100vh;
  min-height: 480px;
  position: relative;
  overflow: hidden;
}

#intro {
  @apply absolute z-10 bg-gray-900 p-8 pl-48 overflow-hidden;
  right: 2.5rem;
  bottom: 2.5rem;

  img {
    @apply absolute bottom-0 block left-0 bottom-0 -ml-12;
    width: 340px;
    z-index: -1;
  }
}

.slides {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5vw;
}

.slide--current {
  opacity: 1;
  pointer-events: auto;
}

.slide__img {
  position: absolute;
  top: -100px;
  left: -100px;
  width: calc(100% + 200px);
  height: calc(100% + 200px);
  background-size: cover;
  background-position: 50% 50%;

  &::before {
    @apply absolute inset-0 opacity-25;
    content: '';
    background-color: theme('colors.gray.900');
  }
}

.slidenav {
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  bottom: 0;
  text-align: center;
  padding: 2em;
}

.slidenav__item {
  border: 0;
  background: none;
  font-weight: bold;
  color: #fff;
  &:hover {
    color: theme('colors.purple.900');
  }
}

.shape {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: theme('colors.purple.900');
  top: 0;
  pointer-events: none;
}

.slide__title {
  @apply relative m-0 leading-none text-white mb-6 z-10;
  text-shadow: 0 1px 0 rgba(#1a202c, 0.8), 0 2px 12px #1a202c;
  font-size: 5vw;
  cursor: default;

  &-logo {
    width: 300px;
    height: 150px;

    @screen md {
      width: 480px;
      height: 240px;
    }
  }

  @screen lg {
    font-size: 3.5vw;
  }
}

.slide__desc {
  @apply relative font-serif text-2xl italic max-w-3xl leading-tight;
  text-shadow: 0 1px 0 rgba(#1a202c, 0.8), 0 2px 12px #1a202c, 0 3px 24px #1a202c;
  //font-size: 1.5em;
  //margin: 0 0 2em 0;
  //cursor: default;
  //color: var(--color-sdesc);
  //padding: 0 1em;
  //text-align: center;
}

.slide__link {
  position: relative;
}