.teaser-wrapper {
  padding: 0 15px;
}

.section-teaser {
  @extend .post-teaser;
  height: 300px;

  .teaser__title {
    @apply uppercase tracking-widest font-bold text-center;
  }

  .teaser__description {
    @apply text-center;
  }

  &:hover {
    .title span {
      color: #fff;
    }
  }
}

.exhibition-teaser {
  @extend .post-teaser;

  &:hover {
    .title span {
      color: #fff;
    }
  }
}
